<div class="mt-4 p-2 bg-secondary text-white rounded">
    <div class="single-row"><b>ID</b> <br /> {{ item.id }}</div>
    <div class="single-row"><b>Name</b> <br /> {{ item.name }}</div>
    <div class="single-row"><b>Role</b> <br /> {{ item.role }}</div>
    <div class="single-row"><b>Start - End</b> <br /> {{ item.start + ' - ' + item.end }}</div>
    <div class="single-row"><b>Body</b> <br /> {{ item.body }}</div>
    <div class="single-row"><b>Confidence</b> <br /> {{ item.confidence }}</div>
</div>